@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model WebPosting.Models.UserModel

@{
    ViewData["Title"] = "Restore Password";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Restore Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Shared/Styles/main-style.css" rel="stylesheet" type="text/css">
</head>
<body>

    <h2 class="main-page-header">@ViewData["Title"]</h2>

    <form asp-action="RestorePassword" asp-controller="User">
        <div class="form-group sign-in-container">
            <label asp-for="Email" class="sign-in-container-element"></label>
            <input type="text" asp-for="Email" class="form-control sign-in-container-element-input">
        </div>

        <div class="form-group button-container">
            <input type="submit" value="Let's go" class="btn btn-primary button-container-element">
        </div>
    </form>

    <div class="bottom-banner">2020 © EPAM Systems</div>

</body>
</html>